{% extends 'base2.html.twig' %}
{% block title %}Qui sommes nous{% endblock %}
{% block body %}
    <style>
        .img-fluid {
            margin-top: 70px;
        }
    </style>
    <!--
          ==================================================
              Global Page Section Start
          ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="{{ path('homepage') }}">
                                    <i class="ion-ios-home"></i>
                                    Accueil &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Greffe de Cheveux</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- ======= Features Section ======= -->

    <section id="features" class="features" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Greffe de cheveux </h2>
                <p>Merci de nous contacter directement par téléphone ou via le formulaire en ligne pour toute demande de
                    complément d’information.</p>
                <br>
                <p>
                    Chez <b>Best Body Travel</b>, nous vous proposons une gamme complète de services de greffe
                    capillaire pour
                    répondre à vos
                    besoins esthétiques.<br>
                    Notre expertise s'étend à trois types de greffe, chacun conçu pour embellir et
                    améliorer votre apparence de manière naturelle :<br>
                </p>
            </div>

            <div class="row content">
                <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
                    <img src="https://img.freepik.com/photos-premium/homme-probleme-perte-cheveux-avant-apres-traitement-collage-fond-blanc-trichologue-visite_495423-43062.jpg?w=900"
                         class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
                    <h3> Greffe de Cheveux :</h3>
                    <p class="fst-italic">

                        Si vous souhaitez retrouver une chevelure dense et harmonieuse, notre équipe spécialisée en
                        greffe de cheveux
                        est là pour vous. Grâce à des techniques de pointe telles que la FUE et la FUT, nous restaurons
                        la densité
                        capillaire et créons des lignes capillaires naturelles pour un résultat qui vous fera sentir sûr
                        de vous.

                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> <b>Résultats Naturels :</b>
                            Nos techniques de greffe de cheveux sont conçues pour imiter la croissance naturelle des
                            cheveux. Les résultats sont si naturels que personne ne pourra dire que vous avez eu une
                            greffe. Vos nouveaux cheveux s'intégreront parfaitement avec ceux déjà présents.
                        </li>
                        <li><i class="bi bi-check"></i> <b>Confiance Renouvelée :</b>
                            La perte de cheveux peut avoir un impact sur la confiance en soi. En restaurant votre
                            densité capillaire, nous vous offrons la chance de retrouver une confiance renouvelée. Vous
                            pourrez vous sentir plus à l'aise dans votre apparence et dans vos interactions sociales.


                        </li>
                        <li><i class="bi bi-check"></i><b> Durabilité :</b>
                            Les résultats de la greffe de cheveux sont généralement permanents. Une fois que les
                            follicules sont transplantés avec succès, ils continueront à croître de la même manière que
                            les cheveux naturels. Cela signifie que vous pourrez profiter de vos nouveaux cheveux pour
                            le reste de votre vie.
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row content">
                <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                    <img src="https://img.freepik.com/photos-gratuite/vue-laterale-hommes-barbes-studio_23-2149615796.jpg?w=996&t=st=1692037315~exp=1692037915~hmac=333f975098ba89a0bf8a317c3d3c80389c33db8480bd908fca77200603d557b2"
                         class="img-fluid" alt="BEST BODY TRAVEL">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                    <h3> Greffe de Barbe et Moustache : </h3>
                    <p class="fst-italic">
                        Pour ceux qui désirent une barbe ou une moustache plus épaisse et bien définie, notre expertise
                        en greffe de barbe et de moustache est à votre service. Nous utilisons des méthodes avancées
                        pour créer un look masculin et esthétique, renforçant ainsi votre charisme et votre présence.
                    </p>

                    <ul>
                        <li><i class="bi bi-check"></i><b>Look Masculin Amélioré :</b>
                            Une barbe et une moustache denses et bien définies sont souvent associées à un look masculin
                            et viril. Grâce à notre expertise en greffe de barbe et moustache, nous pouvons vous aider à
                            obtenir la pilosité faciale que vous désirez, améliorant ainsi votre apparence et votre
                            présence.
                        </li>
                        <li><i class="bi bi-check"></i> <b>Style Personnalisé :</b>
                            Vous pouvez choisir le style de barbe et de moustache que vous préférez. Notre équipe
                            travaillera avec vous pour créer un design qui correspond à vos préférences esthétiques et à
                            la forme de votre visage, garantissant ainsi un résultat qui vous ressemble.
                        </li>
                        <li><i class="bi bi-check"></i><b> Camouflage de Zones Clairsemées :</b>
                            Si vous avez des zones clairsemées ou des trous dans votre barbe ou votre moustache, la
                            greffe peut aider à les remplir de manière uniforme. Cela créera une apparence plus
                            cohérente et équilibrée, faisant de la greffe de barbe et moustache une solution idéale.
                        </li>
                    </ul>

                </div>
            </div>
            <br>
            <div class="row content">
                <div class="col-md-5" data-aos="fade-right">
                    <img  src="https://img.freepik.com/photos-premium/macrophotographie-poils-du-modele-maitre-peigne-poils-sourcils-brosse-rose-apres-procedure-coiffage-stratification-long-terme_320071-2998.jpg?w=996"
                         class="img-fluid" alt="BEST BODY TRAVEL">
                </div>
                <div class="col-md-7 pt-5" data-aos="fade-left">
                    <h3>Greffe de Sourcils :</h3>
                    <p>
                        Les sourcils jouent un rôle crucial dans l'encadrement du visage. Si vous cherchez à redéfinir
                        vos sourcils pour accentuer vos traits, notre équipe de spécialistes en greffe de sourcils peut
                        vous aider. Nous redessinons vos sourcils de manière subtile et artistique, rehaussant ainsi la
                        beauté naturelle de votre visage.</p>
                    <ul>
                        <li><i class="bi bi-check"></i><b>Cadre pour le Visage :</b>
                            Les sourcils jouent un rôle essentiel dans la mise en valeur des traits du visage. Une greffe de
                            sourcils bien exécutée peut non seulement redéfinir vos sourcils, mais aussi mettre en valeur
                            vos yeux et vos expressions faciales.
                        </li>
                        <li><i class="bi bi-check"></i> <b>Résultats Précis :</b>
                            Notre équipe de spécialistes en greffe de sourcils possède l'expertise nécessaire pour créer des
                            résultats précis et artistiques. Chaque poil est placé avec soin pour obtenir une forme et une
                            densité parfaites, permettant ainsi de façonner vos sourcils selon vos préférences.
                        </li>
                        <li><i class="bi bi-check"></i><b> Correction de Pertes de Sourcils :</b>
                            Que vous ayez des sourcils clairsemés en raison de la génétique, de la surépilation ou d'autres
                            raisons, la greffe de sourcils peut corriger ces problèmes. Vous pouvez retrouver des sourcils
                            pleins et définis qui rehaussent l'harmonie de votre visage.
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <p> Chez <b>Best Body Travel</b>, nous comprenons que chaque personne a des besoins et des désirs uniques.
                C'est pourquoi nous
                personnalisons nos approches pour vous offrir des résultats exceptionnels qui correspondent à votre
                vision.<br>
                Faites confiance à notre expertise et découvrez comment nos techniques avancées de greffe peuvent
                transformer votre apparence et renforcer votre confiance en vous."
            </p>

        </div>
        <br>

    </section><!-- End Features Section -->



{% endblock body %}